<!DOCTYPE html>
<html>
    <head>
        <title>
            fail
        </title>
        <link rel="stylesheet" href="..\static\css\index.css">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> -->
    </head>
    <body style="border: 0px; margin: 0px;">
        <div class="top">
            <div style="font-size: 30px;">
                失敗頁面
            </div>
        </div>
        <div style="display: flex;justify-content: center;align-items: center;height: 100px;">
            <div style="font-size: 25px;">
                {{ messages }}
            </div>
        </div>
        <div style="display: flex;justify-content: center;align-items: center;height: 100px;">
            <a href="/">返回首頁</a>
        </div>

    </body>
</html>