<!DOCTYPE html>
<html>
    <head>
        <title>
            index
        </title>
        <link rel="stylesheet" href="..\static\css\index.css">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> -->
    </head>
    <body style="border: 0px; margin: 0px;">
        <div class="top">
            <div style="font-size: 30px;">
                歡迎光臨，請輸入帳號密碼
            </div>
        </div>
        <div style="background-color: yellow; height: 300px;">
            <div style="background-color: green;display: flex; justify-content: center;align-items: end;height: 20%;">
                <div style="margin-top: 20px;"> 
                    登入系統
                </div>
            </div>
            <form action="/signin" method="POST" id="account_manager">
                <div class="buttom">
                    <div>帳號  </div>
                    <div style="margin-left: 10px;">
                        <input type="text" name="account">
                    </div>
                </div>
                <div class="buttom">
                    <div>密碼  </div>
                    <div style="margin-left: 10px;">
                        <input type="text" name="passward">
                    </div>
                </div>
                <div class="buttom">
                    <div>同意條款</div>
                    <input type="checkbox" id="agree">
                </div>
                <div class="buttom">
                    <button type="button" onclick="check()">登入</button>
                </div>
            </form>
        </div>

        <div style="display: flex;justify-content: center;align-items: center;">
            <div>
                計算正整數的平方
            </div>
        </div>
        <form action="/square" id="cal_num">
            <div style="display: flex;justify-content: center;align-items: center;">
                <div style="margin-right: 10px;">正整數</div>
                <input type="text" name="number" id="number">
            </div>
            <div style="display: flex;justify-content: center;align-items: center;margin-top: 10px;">
                <button type="button" onclick="check_number()">送出</button>
            </div>
        </form>
        <script>
            function check(){
                let checkbox = document.getElementById('agree');
                if (checkbox.checked != true){
                    alert('please check the checkbox first');
                }else {
                    // 使用者已勾選同意條款，可提交表單
                    document.getElementById('account_manager').submit();
                }
            }

            function check_number(){
                let cal_number = document.getElementById('number').value;
                if (cal_number < 0){
                    alert('請輸入正數');
                }else{
                    document.getElementById('cal_num').submit();
                }
            }
        </script>
    </body>
</html>








